---
layout: default
title: Panitia
permalink: /panitia/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_info">
        <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Panitia PEMILU FMIPA 2017{% endif %}</h2>
          <br>Abdullah Rasyid</br>
          <br>Ahmad Naufal</br>
          <br>Aurellio Deandra</br>
          <br>Cakrayudha</br>
          <br>Cinta Vidante</br>
          <br>Dave Sebathias</br>
          <br>Egi Agata</br>
          <br>Humam</br>
          <br>Ikhsanul Agusti</br>
          <br>Jihadsyah Faa'is Ahmad</br>
          <br>Muhammad Naufal Aushaf</br>
          <br>Nahrul Mubarok</br>
          <br>Raynaldi La'lang</br>
          <br>Ridho Syifa Ezra Ibrahim</br>
          <br>Rizvan</br>
          <br>Rubio Gunawan</br>
          <br>Ruth Amelya Naibaho</br>
          <br>Sayyed Ali Rafi</br>
          <br>Valerian Mahdi Pratama</br>
          <br>Yohanes Rama Adiwicaksana</br>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
