---
layout: default
title: Panitia
permalink: /panitia/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_info">
        <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Panitia PEMILU FMIPA 2017{% endif %}</h2>
          <br>
          <br>
          <br>
<table align="center" border="0">
  <tr>
    <td>Abdullah Rasyid</td>
    <td><span style="color:white">--<span style="color:red"><b>|</b></span>--</span></td>
    <td>Ahmad Naufal</td>
  </tr>
  <tr>
    <td>Aurellio Deandra</td>
    <td><span style="color:white">--<span style="color:red"><b>|</b></span>--</span></td>
    <td>Cakrayudha</td>
  </tr>
  <tr>
    <td>Cinta Vidante</td>
    <td><span style="color:white">--<span style="color:red"><b>|</b></span>--</span></td>
    <td>Dave Sebathias</td>
  </tr>
  <tr>
    <td>Egi Agata</td>
    <td><span style="color:white">--<span style="color:red"><b>|</b></span>--</span></td>
    <td>Humam</td>
  </tr>
  <tr>
    <td>Ikhsanul Agusti</td>
    <td><span style="color:white">--<span style="color:red"><b>|</b></span>--</span></td>
    <td>Jihadsyah Faa'is Ahmad</td>
  </tr>
  <tr>
    <td>Muhammad Naufal Aushaf</td>
    <td><span style="color:white">--<span style="color:red"><b>|</b></span>--</span></td>
    <td>Nahrul Mubarok</td>
  </tr>
  <tr>
    <td>Raynaldi La'lang</td>
    <td><span style="color:white">--<span style="color:red"><b>|</b></span>--</span></td>
    <td>Ridho Syifa Ezra Ibrahim</td>
  </tr>
  <tr>
    <td>Rizvan</td>
    <td><span style="color:white">--<span style="color:red"><b>|</b></span>--</span></td>
    <td>Rubio Gunawan</td>
  </tr>
  <tr>
    <td>Ruth Amelya Naibaho</td>
    <td><span style="color:white">--<span style="color:red"><b>|</b></span>--</span></td>
    <td>Sayyed Ali Rafi</td>
  </tr>
  <tr>
    <td>Valerian Mahdi Pratama</td>
    <td><span style="color:white">--<span style="color:red"><b>|</b></span>--</span></td>
    <td>Yohanes Rama Adiwicaksana</td>
  </tr>
</table>

        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
