---
layout: default
title: Peraturan
permalink: /peraturan/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Peraturan PEMILU FMIPA{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}<b>Peraturan Pemilu FMIPA 2017</b>{% endif %}</p>
          <p class="author_subtitle">-  sub grup <b>harus steril</b> dari unsur kampanye</p>
          <p class="author_subtitle">-	kandidat berkampanye dengan menggunakan panitia sebagai perantara kampanye</p>
          <p class="author_subtitle">-	kandidat yang melanggar akan mendapatkan poin pinalti, setelah mencapai poin tertentu, kandidat akan didiskualifikasi</p>
          <p class="author_subtitle">-	poin pinalti yang dimiliki oleh setiap panitia akan diumumkan secara publik</p>
          <p class="author_subtitle">-	bulan <b>Oktober</b> adalah masa tenang</p>
          <p class="author_subtitle">-	jumlah timses <b>maksimal</b> 10 orang</p>
          <p class="author_subtitle"><b>-	KEPUTUSAN PANITIA TIDAK BISA DIGANGGU GUGAT!!11!</b></p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
